extends layout

block content
	div.row.well.about
		h3(style='color:#777') About Me
		br
		p Github: 
			a(href='https://github.com/xulianghhu' target='_blank') https://github.com/xulianghhu
		p Weibo: 
			a(href='http://weibo.com/xulianghhu' target='_blank') http://weibo.com/xulianghhu
		p E-mail: xuliang_2009@126.com
		
