extends layout	

block content
	div.row.well
		div.btn-group
			a(href='#').btn.btn-primary.btn-shadow 账号管理
			a(href='/admin/categories').btn.btn-success.btn-shadow 类别管理
			a(href='/admin/blogs').btn.btn-info.btn-shadow 博客管理
	